:root {
  --card-set-gap: 20px;
}
body {
  background-color: rgb(214, 214, 240);
  color: brown;
}

.keyframe-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 50px auto;
  background-color: darkorange;
}

.keyframe-elements > .ball {
  /* animation: power 3000ms linear infinite; */

  width: 100px;
  height: 100px;
  background-color: #f534ee;
  font-size: 50px;

  /* border-radius: 50%; */
}

.keyframe-elements > .ball:hover {
  transition: transform 1000ms linear;
  transform-origin: top;

  transform: scale(-1);
}

@keyframes power {
  0% {
    transform: translate(0, 100px);
    opacity: 1;
  }
  50% {
    transform: translate(100px, 0);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 100px);
    opacity: 1;
  }
}

.container {
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: -20px;
  margin-left: -20px;
  outline: auto;
}

.team-item > a {
  text-decoration: none;
}

.team-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-left: 20px;
  margin-top: 20px;

  outline: auto;
}

.team-item img {
  width: 240px;
}

/*  ------ */

.list {
  width: 1200px;
  display: flex;
  flex-basis: 20px;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.list li {
  background-color: green;
  /* width: 100px; */
  margin: 10px;
}

.boxes {
  width: 1200px;
  background: purple;
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: rgb(79, 134, 129);
}

.title {
  color: tomato;
  font-size: 60px;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.padding-margin-border {
  /* display: inline-block; */

  background-color: rgb(95, 197, 223);
  width: 1020px;
  margin: 20px;
  padding: 6px;
  box-sizing: border-box;
  border: 5px dotted pink;
}

.padding-margin-border p {
  background: teal;
  width: 540px;
  margin: auto;
  padding: 5px;
  border-radius: 6px;
  border-bottom: 3px solid #000;
}

.sel-item:nth-child(-n + 2) {
  color: #ff0000;
}
