body {
  background-color: rgb(214, 214, 240);
  color: brown;
}

.list {
  width: 1200px;
  display: flex;
  flex-basis: 20px;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.list li {
  background-color: green;
  /* width: 100px; */
  margin: 10px;
}

.boxes {
  width: 1200px;
  background: purple;
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: rgb(79, 134, 129);
}

.title {
  color: tomato;
  font-size: 60px;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.padding-margin-border {
  /* display: inline-block; */

  background-color: rgb(95, 197, 223);
  width: 1020px;
  margin: 20px;
  padding: 6px;
  box-sizing: border-box;
  border: 5px dotted pink;
}

.padding-margin-border p {
  background: teal;
  width: 540px;
  margin: auto;
  padding: 5px;
  border-radius: 6px;
  border-bottom: 3px solid #000;
}

.sel-item:nth-child(2n-1) {
  color: #ff0000;
}
